##
# {{ansible_managed}}
##
## Process user
JBOSS_USER={{jboss_datagrid_user}}
## Waiting time for returning control to SHELL, it depends upon how many applications/services that will be deployed
STARTUP_WAIT=120
## Waiting time for returning control to SHELL, it depends upon how many applications/services that will be undeployed
SHUTDOWN_WAIT=30
## Log directory and file.
JBOSS_CONSOLE_LOG=/var/log/jboss-datagrid/console.log
## JBoss EAP home directory
JBOSS_HOME={{jboss_datagrid_home}}
## JBoss EAP Config
JBOSS_CONFIG={{jboss_datagrid_config}}
## JBoss Mode ( will be ignored by EAP6 init.d scripts) and only used by EAP7 init scripts
JBOSS_MODE={{jboss_datagrid_mode}}
